#CookielawBanner {
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 100%;
    background-color: white;
}

#CookielawBanner .btn-primary {
    background-color: #fbce00;
    border-color: #fbce00;
}

#CookielawBanner .container {
    display: flex;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

#CookielawBanner .text {
    margin-right: 10px;
}

#CookielawBanner p {
    margin: 0;
}
