{% load i18n %}

<div id="CookielawBanner">
    <div class="container">
        <div class="text">
            <p>
                {% if cookielawbanner.banner_text %}
                    {{ cookielawbanner.banner_text }}
                {% else %}
                    {% trans "COOKIE_INFO_PARA" %}
                {% endif %}
            </p>
        </div>
        <div class="button">
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">{% if cookielawbanner.banner_text %} {{ cookielawbanner.banner_button }} {% else %} {% trans "COOKIE_INFO_OK" %} {% endif %}</a>
        </div>
    </div>
</div>
